<div class="panel panel-primary">

	<div class="panel-heading">
	    	<h1>This is About page</h1>
 	</div>
  
	  <div class="panel-body">
	    <h5>This is Burenin Alexey site </b></h5>
	    <h5>In this app im trying to learn Rails</h5>
	  </div>

</div>


